@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
}

.rowdies-font {
    font-family: 'Rowdies', sans-serif;
}

@keyframes zoom-in-out {
  0%, 100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.5);
  }
}

.animate-zoom {
  animation: zoom-in-out 25s infinite ease-in-out;
}