@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #263b4e;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #15202b;
}

::-webkit-scrollbar-corner {
  background-color: #263b4e;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
}

.rowdies-font {
    font-family: 'Rowdies', sans-serif;
}

.overflow-y-auto::-webkit-scrollbar, .overflow-y-scroll::-webkit-scrollbar, .overflow-x-auto::-webkit-scrollbar, .overflow-x::-webkit-scrollbar, .overflow-x-scroll::-webkit-scrollbar, .overflow-y::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .overflow-y-auto, .overflow-y-scroll, .overflow-x-auto, .overflow-x, .overflow-x-scroll, .overflow-y, body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  }
  
  .bg-dim-700 {
  --bg-opacity: 1;
  background-color: #192734;
  }
  
  html, body {
  margin: 0;
  background-color: #15202b;
  }
  
  svg.paint-icon {
  fill: currentcolor;
  }

@keyframes zoom-in-out {
  0%, 100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.5);
  }
}

.animate-zoom {
  animation: zoom-in-out 25s infinite ease-in-out;
}